.App {
  text-align: center;
  background-color: rgb(3, 3, 3);
  color: rgb(233, 233, 233);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.spacer{
  min-width: 270px;
  height: 100vh;
}
