.nav-bar-container{
  padding: 14px 0 2px 0;
  margin-bottom: 6px;
  background-color: rgba(241, 241, 241, 0.89);
  color: black;
  height: 100vh;
  width: 260px;
  position: fixed;
  display: block;
}

nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav a{
  text-decoration: none;
  margin: 8px 20px
}