.review-item-container{
  width: 230px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(32, 32, 32, 0.685);
  border: 2px solid rgb(22, 22, 22);
  border-radius: 6px;
}
.review-pic-container{
  width: 220px;
  height: 220px;
  overflow: hidden;
  margin: 4px;
}
.review-item-info-container{
  width: 100%;
}

img{
  size: cover;
  width: 220px;
  height: 220px;
}
h2, h3, p{
  margin: 0;
  padding: 0;
  display: block;
}
h2{
  text-align: left;
}
h3{
  text-align: right;
}
