.review-item-container{
  width: 230px;
  height: 350px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(32, 32, 32, 0.432);
  border: 2px solid rgba(121, 120, 120, 0.452);
  border-radius: 6px;
  padding: 4px;
  transition: all .1s ease-in-out;
}
.review-item-container:hover{
  transform: scale(1.02, 1.02);
}
.review-item-container a{
  cursor: default;
}
.review-pic-container{
  width: 220px;
  height: 220px;
  overflow: hidden;
  margin: 4px;
}
.review-item-info-container{
  width: 100%;
}

.list-pic{
  size: cover;
  width: 220px;
  height: 220px;
}
h2, h3, p{
  margin: 0;
  padding: 0;
  display: block;
}
h2{
  text-align: left;
}
h3{
  text-align: right;
}
a{
  text-decoration: none;
  color: inherit;
}
.icon-container{
  width: 100%;
}
