.status-bar{
  display: flex;
  justify-content: space-around;
}
.status-bar img{
  width: 30px;
  transition: all .1s ease-in-out;
  padding: 0 3px;
}
.status-bar img:hover{
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
.status-bar p span{
  padding: 1px 5px;
}
.status-bar p span{
  padding: 1px 2px;
}